@config '../tailwindcss.config.js';
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

body {
    @apply font-sans;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
