@import 'tailwindcss';
@plugin '@tailwindcss/typography';

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}